.form1 {
    font-family: Calibri, sans-serif;
    font-size: 12pt;
}

.espacoTitulo{
    margin-right: 859px;
    font-weight: bold;
}
.h2form1{
    padding-top: 20px;
    margin-left: 16%;
}

.form1 div {
    display: inline-block;
}

input {
    border: none;
    outline: none; 
    color: black;
}
::placeholder{
    color: #4F4F4F;
}

table{
    margin-bottom: 20px;
}

table tr td:nth-child(1) {
    width: 320px;
}

table tr td:nth-child(2) {
    width: 290px;
}

table tr td:nth-child(3) {
    width: 200px;
}

table tr td:nth-child(4) {
    width: 480px;
}

.center{
    text-align: center;
}

.vazio{
    background-color: lightgray;
}

.SPC{
    float: right;
    margin-right: 40px;
}

.aumentar{
    width: 260px;
}

#h2form2{
    margin-left: 18%;
}

.title2{
    margin-top: 100px;
}

.form2 {
    font-family: Calibri, sans-serif;
    font-size: 12pt;
}

.form2 div {
    display: inline-block;
}

.fim{
    margin-bottom: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.miniTitulo{
    font-weight: bold;
}